*{ 
   padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}  

$bg_color: #252525;
$text_color: #fff;
$normal_paddng: 25px;


ul{
    li{
        list-style: none;
    }
}

a{
    text-decoration: none;
}